
#app {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

.btn {
  width: 180px;
  height: 40px;
  color: #000;
  background: #e8e8e8;
  border: 1px solid #000;
  border-radius: 2px;
}
.btn:hover {
  background: #d8d8d8;
}
button {
  cursor:pointer;
}
input {
  border-radius: 3px;
}
label {
  font-weight: 700;
}