.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.top-panel {
  position: sticky;
  width: 100%;
  height: 120px;
  padding: 8px;
  background-color: #e7e7e7;
}

.top-panel__title {
  text-align: center;
  font-size: 24px;
  margin: 10px;
}

.top-panel__actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 1;
}

.contacts {
  width: 100%;
  margin: 48px 10px;
  font-size: 18px;
  padding: 26px 0px;
  border-spacing: 10px;
  border-collapse: collapse;
}
td,
th {
  text-align: left;
  padding: 8px 0;
}

.form-group {
  margin-top: 16px;
}
.pagination {
  display: flex;
  
}
.page {
  border: 1px solid #e7e7e7;
  padding: 8px;
  margin-right: 8px;
}
.page:hover {
background-color: #e8e8e8;
cursor: pointer;
}
.page__selected {
  background-color: #e9e9e9;
}
.icon-box {
  cursor: pointer;
}
.btn__app {
  margin-top: 16px;
}
label {
  margin-right: 4px;
}